# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# IDE and editor-related files
.idea/
.mypy_cache/
.pytest_cache/

# Logs and databases
*.log
*.sqlite3
